<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
const { path } = _.route 
const { width, height } = _.tryImageSize('/img/uploads/logo-preto-1.webp')
%>

<div class="app-fab app-fab--right" style="z-index: 1">
  <div class="app-fab__container app-fab__container--vertical">
                      <div class="app-fab__item app-fab__item--whatsapp">
              <a href="https://api.whatsapp.com/send?l=pt_br&amp;phone=<%= contacts.whatsapp.replace(/\D/g, '') %>" rel="noreferrer" target="_blank" class="link">
                                              <img src="/img/uploads/whatsapp.svg" alt="whatsapp" class="img">
                                      </a>
          </div>
                          </div>
</div>
<footer class="footer py-3 py-lg-4 py-xl-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-auto order-<%= themeCustom === 'ecom-beauty' ? '' : 'lg-'%>last pl-xl-4">
        <div class="footer__contacts">
          <% if (footer.contacts.title) { %>
            <div class="footer__title">
              <%= footer.contacts.title %>
            </div>
          <% } %>

          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="i-whatsapp"></i>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %>
              <% if (contacts.phone) { %>
                <li style="color: #000 !important;">
                  <span class="footer__list-icon">
                    <i class="i-phone"></i>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener" style="color: #000 !important;">
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li>
                <address>
                  <%= contacts.address %>
                </address>
              </li>
            <% } %>
          </ul>
        </div>
      </div>

      <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-pages"
            role="button"
            aria-expanded="false"
            aria-controls="footer-pages"
          >
            <%= footer.links_1.title || _.dictionary('pages') %>
          </a>
          <div class="collapse" id="footer-pages">
            <% if (footer.links_1.list_pages) { %>
              <ul class="footer__links">
                <% (_.cms('pages') || []).forEach(slug => { %>
                  <% const { title } = _.cms(`pages/${slug}`) %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="/pages/<%= slug %>">
                      <%= title %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_1.list.forEach(({ url, text }) => { %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>
        


      <div class="col-12 col-xl order-<%= themeCustom === 'ecom-beauty' ? '' : 'lg-'%>first">

        
  <img
    id="logo"
    class="header__logo footer__logo" style="margin-left: -12px; margin-bottom: 20px;"
    src="/img/uploads/logo-preto-1.png"
    alt="Logo"
    <% if (width) { %>
      width="<%= width %>"
      height="<%= height %>"
    <% } %>
  >

        <% if (path === '/') { %>
          <h1 class="footer__title footer__store">
            Grand Granola | Sabores deliciosos, crocantes e feitos com muito carinho, eles chegaram até você.
          </h1>
        <% } else { %>
          <h2 class="footer__title footer__store">
            <%= footer.description.title || _.settings.name %>
          </h2>
        <% } %>

      </div>
    </div>
    <div class="row">
      <div class="container pl-0" style="display: flex; margin-top: 1rem">   
        <div class="col-12 col-sm-5" id="selos_pagamentos" style="text-align: left">
          <big>Formas de pagamento</big>
          <div class="mt-4 mb-3">
            <p class="footer__payment-methods">
              <% Object.keys(footer.payment_methods).forEach(method => { %>
                <% if (footer.payment_methods[method]) { %>
                  <i class="pay-icon pay-icon--<%= method %>"></i>
                <% } %>
              <% }) %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  <div class="row" id="social">
    <% if (footer.contacts.socials) { %>
      <p class="footer__social">
        <%- await include('@/layout/inc/networks', { _, contacts }) %>
      </p>
    <% } %>
  </div>
  <div class="footer__credits container">
    <span>
      <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
    </span>
      <div class="ecom-credits-container">
        <div class="ecom-credits">
          <a href="https://e-com.plus" target="_blank" rel="noopener">
            <img
                src="https://ecom.nyc3.digitaloceanspaces.com/brand/plus/198x43.png"
                alt="E-Com Plus"
                width="92"
                height="19.98"
            >
          </a>
        </div>
      </div>
  </div>
</footer>

