<% if (Array.isArray(opt.items) && opt.items.length) {
  const title = opt.title ||
    (opt.collection && opt.collection.name) ||
    _.dictionary('popularProducts')
  const link = opt.link || (opt.collection && `/${opt.collection.slug}`)

  if (opt.shuffle) {
    let m = opt.items.filter(item => {
      return item.available && _.ecomUtils.inStock(item)
    }).length
    let t, i
    while (m) {
      i = Math.floor(Math.random() * m--)
      t = opt.items[m]
      opt.items[m] = opt.items[i]
      opt.items[i] = t
    }
  }
  %>

  <section
    class="products-carousel"
    data-size="<%= opt.items.length %>"
    <% if (opt.collection) { %>
      data-collection-id="<%= opt.collection._id %>"
    <% } %>
    data-title="<%= title %>"
  >
    <% if (!opt.headless) { %>
      <h4 class="products-carousel__title">
        <% if (opt.title || opt.collection) { %>
          <% if (link) { %>
            <a href="<%= link %>">
              <%= title %>
            </a>
          <% } else { %>
            <span><%= title %></span>
          <% } %>
        <% } else { %>
          <a href="/search">
            <%= title %>
          </a>
        <% } %>
      </h4>
    <% } %>

    <div class="row">
      <% for (let i = 0; i < 3; i++) { %>
        <div class="col-12 col-md-4 products-carousel__item">
          <%- await include('@/sections/inc/product-item', {
            _, opt: { item: opt.items[i] }
          }) %>
        </div>
      <% } %>
    </div>
  </section>
<% } %>
